<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Important: attempts to execute stored procedures against the database fail unless the database name is all lower case (affects Oracle/MySQL driver but not Devart driver) -->
		<add name="Sakila.ConnectionString.MySql (MySql.Data.MySqlClient)" connectionString="data source=localhost;database=sakila;user id=Massive;password=mt123;persist security info=false;" providerName="MySql.Data.MySqlClient" />
		<add name="Sakila.ConnectionString.MySql (MySql.Data.MySqlClient;AllowUserVariables=true)" connectionString="data source=localhost;database=sakila;user id=Massive;password=mt123;persist security info=false;AllowUserVariables=true;" providerName="MySql.Data.MySqlClient" />
		<add name="MassiveWriteTests.ConnectionString.MySql (MySql.Data.MySqlClient)" connectionString="data source=localhost;database=massivewritetests;user id=Massive;password=mt123;persist security info=false;" providerName="MySql.Data.MySqlClient" />
		
		<add name="Sakila.ConnectionString.MySql (Devart.Data.MySql)" connectionString="data source=localhost;database=Sakila;user id=Massive;password=mt123;persist security info=false;" providerName="Devart.Data.MySql" />
		<add name="MassiveWriteTests.ConnectionString.MySql (Devart.Data.MySql)" connectionString="data source=localhost;database=MassiveWriteTests;user id=Massive;password=mt123;persist security info=false;" providerName="Devart.Data.MySql" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SD.Tools.Algorithmia" publicKeyToken="8ede9265bbb8e107" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SD.Tools.BCLExtensions" publicKeyToken="a3f87088dcb994e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>